<div class="text">
  <div>
    <h2 class="field-label">Login Form</h2>
    <form class="form-control">
      <div class="padding">
        <span class="field-label" for="exampleInputEmail1">Email address</span>
        <input type="email" class="rounded blue" id="email-input" placeholder="Email">
      </div>
      <div class="padding">
        <span class="field-label" for="exampleInputPassword1">Password</span>
        <input type="password" class="rounded blue" id="password-input" placeholder="Password">
      </div>
      <br />
      <button type="submit" id="login-button">Login</button>
    </form>
  </div>
</div>

<script type="text/javascript" src="js/navbar.js"></script>
<script type="text/javascript" src="js/login.js"></script>