<div class="text">
  <div>
    <h2>Login Form</h2>
    <form class="form-control">
      <div class="padding">
        <span class="label blue" for="exampleInputEmail1">Email address</span>
        <input type="email" class="rounded blue" id="email-input" placeholder="Email">
      </div>
      <div class="padding">
        <span class="label blue" for="exampleInputPassword1">Password</span>
        <input type="password" class="rounded blue" id="password-input" placeholder="Password">
      </div>
      <br/>
      <button type="submit" class="label blue" id="login-button">Login</button>
    </form>
    <br/>
    <p>Or sign up <a href="/signup">here</a></p>
  </div>
</div>

<script type="text/javascript" src="js/navbar.js"></script>
<script type="text/javascript" src="js/login.js"></script>