<div class="wrap">
    <h1 class="team-name" id="team-identify" value="{{teamid}}">{{teamname}} - {{teamrealm}}</h1>

    <div class="container">
        <div class="column active">
            <div class="content">
                <div class="box">
                    <h2>Das Tanks</h2>
                    <br>
                    <div class="squad-list" id="tank-list"></div>
                </div>



            </div>
            <div class="bg bg1"></div>
        </div>
        <div class="column">
            <div class="content">
                <div class="box">
                    <h2>Healz</h2>
                    <br>
                    <div class="squad-list" id="heal-list"></div>
                </div>


            </div>
            <div class="bg bg2"></div>
        </div>
        <div class="column">
            <div class="content">
                <div class="box">
                    <h2>Boom Boom</h2>
                    <br>
                    <div class="squad-list" id="dps-list"></div>
                </div>


            </div>
            <div class="bg bg3"></div>
        </div>
         <div class="column">
            <div class="content">
                <div class="box">
                    <h2>Utility</h2>
                    <br>
                    <div class="squad-list" id="dps-list"></div>
                </div>

            </div>
            <div class="bg bg4"></div>
        </div>
    </div>
     <form class="form-control">
        <h2 class="raidMember">Add Raid Member</h2>
        <div class="form-group">
            <label for="char-name"><strong>Character Name:</strong></label>
            <input class="input label rounded orange" type="text" id="char-name" name="char-name">
        </div>

        <div class="form-group">
            <label class="orange-label" for="char-class"><strong>Class:</strong></label>
            <span class="orange-icon">
                <select class="rounded orange" id="char-class" name="char-class">
                    <option>Warrior</option>
                    <option>Hunter</option>
                    <option>Priest</option>
                    <option>Rogue</option>
                    <option>Mage</option>
                    <option>Warlock</option>
                    <option>Druid</option>
                    <option>Paladin</option>
                    <option>Shaman</option>
                    <option>Death Knight</option>
                    <option>Monk</option>
                    <option>Demon Hunter</option>
                </select>
            </span>
        </div>

        <div class="form-group">
            <label for="char-role"><strong>Choose a Role:</strong></label>
            <select class="rounded orange" id="char-role" name="char-role">
                <option>DPS</option>
                <option>Tank</option>
                <option>Healer</option>
                <option>Utility</option>
            </select>
        </div>

        <button class="green" type="submit" id="add-member">Add</button>
        <br>
        <button class="buttons" id="save-button">View Teams</button>
        <button class="buttons" id="view-team">Save Team</button>
        
    </form>
</div>

<script type="text/javascript" src="/js/navbar.js"></script>
<script type="text/javascript" src="/js/teaminfo.js"></script>
<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
    crossorigin="anonymous"></script>
<script>$(document).on('mouseover', '.container .column', function () { $(this).addClass('active').siblings().removeClass('active') })</script>
<!-- <script>$(document).on('mouseover', '.card-front', function () { $(this).addClass('card-back').siblings().removeClass('card-front') })</script>