<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h2>Welcome <span class="member-name"></span></h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-md-offset-3" id="teamlist">

        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div id="team-list"></div>
            <input type="text" class="team-input" id="team-name" name="team-name" placeholder="Enter a name..."></input>
            <input type="text" class="team-input" id="team-realm" name="team-realm"
                placeholder="Enter realm name..."></input>
            <button type="submit" id="submit-team">Create Team</button>
        </div>
    </div>
</div>

<script type="text/javascript" src="js/navbar.js"></script>
<script type="text/javascript" src="js/members.js"></script>