body{
  background-image: url("https://th.bing.com/th/id/OIP.pAaJQ9FvQqQcV_4aJesvSQHaEK?pid=Api&rs=1"); 
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: black;
}

.background{
background-color: rgb(77, 166, 255);
opacity: 0.95;
filter: a;
margin-left: 20%;
margin-right: 20%;
margin-top: 10%;
padding: 5%;
border-radius: 10px;

}
.padding{
padding-top: 5px;
padding-bottom: 5px;

}
.text{

  text-align: center;

}
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: rgb(65, 74, 99);
  color: rgb(65, 74, 99);
  text-align: center;
  }