body {
  background-image: url("Deathwing.jpg"); 
  background-size: cover;
  background-color: black;
  background-repeat: no-repeat;
}

.background {
  background-color: rgb(219, 142, 54);
  opacity: 0.95;
  filter: a;
  width: 60%;
  margin: auto;
  margin-top: 10%;
  padding: 5%;
  border-radius: 10px;
}
.cube{

margin-bottom: 10px;

}

.team-input{

  padding: 8px;

}

.team-link.yellow{
  width: 700px;
  height: 50px;
margin-bottom: 10px;
}
.team-list{
  margin-bottom: 30px;
}
.team-input{
  border-radius: 25px;
}