body {
    background-image: url("Deathwing.jpg"); 
    background-size: cover;
    background-color: black;
    background-repeat: no-repeat;
  }
  
  .background {
    background-color: rgb(219, 142, 54);
    opacity: 0.95;
    filter: a;
    width: 60%;
    margin: auto;
    margin-top: 10%;
    padding: 5%;
    border-radius: 10px;
  }

  .container{
    width: 224px;
    perspective: 1000px;
    margin-top: 200px;
}

